[run]
# Trace branch coverage.
branch = True
omit =
  # Exclude everything installed with pip.
  */site-packages/*
  # Exclude tests.
  *_test.py
  # Exclude Python libraries.
  */Frameworks/Python.framework/Versions/*

[report]
# Fail if less that this percentage of lines are covered.
fail_under = 99
# In reports, show which lines are missing.
show_missing = True
# Exclude some untestable lines from coverage.
exclude_lines =
  if __name__ == .__main__.:
  pragma: no cover

[html]
# Where to write output.
directory = ../../tmp/generated/coverage
